In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/loan-default/Loan_default.csv

In [2]:
df= pd.read_csv('/kaggle/input/loan-default/Loan_default.csv')

In [3]:
df.shape

(255347, 18)

In [4]:
df.head()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0

In [5]:
df.describe()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Default
count,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000
mean,43.498306,82499.304597,127578.865512,574.264346,59.541976,2.501036,13.492773,36.025894,0.500212,0.116128
std,14.990258,38963.013729,70840.706142,158.903867,34.643376,1.117018,6.636443,16.969330,0.230917,0.320379
min,18.000000,15000.000000,5000.000000,300.000000,0.000000,1.000000,2.000000,12.000000,0.100000,0.000000
25%,31.000000,48825.500000,66156.000000,437.000000,30.000000,2.000000,7.770000,24.000000,0.300000,0.000000
50%,43.000000,82466.000000,127556.000000,574.000000,60.000000,2.000000,13.460000,36.000000,0.500000,0.000000
75%,56.000000,116219.000000,188985.000000,712.000000,90.000000,3.000000,19.250000,48.000000,0.700000,0.000000
max,69.000000,149999.000000,249999.000000,849.000000,119.000000,4.000000,25.000000,60.000000,0.900000,1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255347 entries, 0 to 255346
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   LoanID          255347 non-null  object
 1   Age             255347 non-null  int64
 2   Income          255347 non-null  int64
 3   LoanAmount      255347 non-null  int64
 4   CreditScore     255347 non-null  int64
 5   MonthsEmployed  255347 non-null  int64
 6   NumCreditLines  255347 non-null  int64
 7   InterestRate    255347 non-null  float64
 8   LoanTerm        255347 non-null  int64
 9   DTIRatio        255347 non-null  float64
 10  Education       255347 non-null  object
 11  EmploymentType  255347 non-null  object
 12  MaritalStatus   255347 non-null  object
 13  HasMortgage     255347 non-null  object
 14  HasDependents   255347 non-null  object
 15  LoanPurpose     255347 non-null  object
 16  HasCoSigner     255347 non-null  object
 17  Default         255347 non-null  int64
dtypes: float64(2), int64(8), object(8)
memory usage: 35.1+ MB

In [7]:
df.isnull().sum()

LoanID            0
Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
Default           0
dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [9]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and le is an instance of LabelEncoder
cols = ['Education', 'EmploymentType', 'MaritalStatus', 'HasMortgage', 'HasDependents', 'LoanPurpose', 'HasCoSigner']
le = LabelEncoder()

for col in cols:
    df[col] = le.fit_transform(df[col])

df = df.drop('LoanID', axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255347 entries, 0 to 255346
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Age             255347 non-null  int64
 1   Income          255347 non-null  int64
 2   LoanAmount      255347 non-null  int64
 3   CreditScore     255347 non-null  int64
 4   MonthsEmployed  255347 non-null  int64
 5   NumCreditLines  255347 non-null  int64
 6   InterestRate    255347 non-null  float64
 7   LoanTerm        255347 non-null  int64
 8   DTIRatio        255347 non-null  float64
 9   Education       255347 non-null  int64
 10  EmploymentType  255347 non-null  int64
 11  MaritalStatus   255347 non-null  int64
 12  HasMortgage     255347 non-null  int64
 13  HasDependents   255347 non-null  int64
 14  LoanPurpose     255347 non-null  int64
 15  HasCoSigner     255347 non-null  int64
 16  Default         255347 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 33.1 MB

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X=df['Default']
Y= df.drop('Default', axis=1)

In [12]:
x_train, x_test, y_train, y_test= train_test_split(Y,X, test_size=0.2, random_state= 100)

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score

In [14]:
models=[
    LogisticRegression(max_iter=1000),
    RandomForestClassifier(),
    XGBClassifier(),
    KNeighborsClassifier(),
    GaussianNB(),
    CatBoostClassifier(verbose=False)
]
for model in models:
    model.fit(x_train, y_train)
    print(model.__class__.__name__)
    print ('train accuracy: ', accuracy_score(model.predict(x_train), y_train))
    print ('test accuracy: ', accuracy_score(model.predict(x_test), y_test))

LogisticRegression
train accuracy:  0.8843580040826916
test accuracy:  0.8824946152339925
RandomForestClassifier
train accuracy:  0.9999755234314192
test accuracy:  0.8847464264734678
XGBClassifier
train accuracy:  0.8946038956906553
test accuracy:  0.8837477971411788
KNeighborsClassifier
train accuracy:  0.8900610445620407
test accuracy:  0.8722537693362052
GaussianNB
train accuracy:  0.884725152611405
test accuracy:  0.8828274916780889
CatBoostClassifier
train accuracy:  0.8958424100608487
test accuracy:  0.8845310358331702